<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Retirement Calculation System</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex">
          <button class="btn btn-outline-primary me-2" routerLink="/">Home</button>
          <!-- <button class="btn btn-outline-primary me-2">Retirement Corpus</button> -->
          <!-- <button class="btn btn-outline-primary">Monthly Investment</button> -->
        </form>
      </div>
    </div>
  </nav>
</header>
